.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard{
    position: absolute;
    display: flex;
    height: 20%;
  }

  .Instuctions{
    flex-basis:16%;
    text-align: center;
    margin-left: 7%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    font-size: 1.5em;
    width: auto;
  }

  .mathProblem{
    flex-basis: 26%;
    margin-left: 5%;
    margin-top: 4%;
    margin-right: 6%;
    text-align: center;
    justify-content: center;
    font-size: 2.6em;
  }

  .progress__container{
    flex-basis: 18%;
    margin-left: 2%;
    margin-top: 7%;
    text-align: center;
    font-size: 1.4em;
  }

  .hearts__container{
    display: flex;
    flex-direction: column;
    flex-basis: 16%;
    max-width: 16%;
    margin-bottom: 6%;
    margin-left: 1%;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 1.3em;
  }

  .progress__lives{
    max-width: 30%;
    height: auto;
  }

  .progress-bar {
    margin-top: 5%;
    width: 100%;
    height: 30px;
    background-color: #023757;
    border-radius: 15px;
  }
  
  .progress {
    height: 100%;
    background-color: #d1571a;
    width: 40%;
    border-radius: 15px;
  }

  .drop{
    position: relative;
    margin-top: 18%;
    height: 100%;
    border: solid .1em;
    text-align: center;
    border: solid .1em;
  }

  .drop img{
    scale: 40%;
  }

  body{
    background-color: #999999;
  }

  /* h3{
    font-family: "Josefin slab", sans-serif;
  }


  @media (max-width: 600px) {
    /* CSS rules for smaller screens 
  }

  .progress__lives {
    transform: scale(.15);
  }
  */